<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1>Reset Password</h1>
        <p>Please fill in this form to reset your password.</p>
        <hr>

        <label for="userName"><b>User Name</b></label>
        <input formControlName="userName" type="text" placeholder="Enter User Name" name="userName" id="userName" required>

        <label for="secretQuestion"><b>Secret Question</b></label>
        <select formControlName="secretQuestion" id="secretQuestion" required>
            <option value="Who are you?">Who are you?</option>
            <option value="What is your favrouite color?">What is your favrouite color?</option>
            <option value="What is your mother's name?">What is your mother's name?</option>
            <option value="What is the name of your first friend?">What is the name of your first friend?</option>
            <option value="What is the name of your pet?">What is the name of your pet?</option>
        </select>

        <label for="secretAnswer"><b>Secret Answer</b></label>
        <input formControlName="secretAnswer" type="text" placeholder="Enter Secret Answer" name="secretAnswer" id="secretAnswer" required>
        
        <label for="newPassword"><b>New Password</b></label>
        <input formControlName="newPassword" type="password" placeholder="Enter New Password" name="newPassword" id="newPassword" required>

       <br>
       <br>

        <button type="submit" class="resetbtn">Reset Password</button>
    </div>
</form>
